
<div class="card" style="width: 90vmax;"  *ngIf="beers.name || beers.description || beers.tagline">
  <img src="{{ beers.image_url }}" class="card-img-top beer-detail-image" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ beers.name }}</h5>
    <p class="card-text">{{ beers.tagline }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ beers.description }}</li>
    <li class="list-group-item">ABV: {{beers.abv}}</li>
    <li class="list-group-item">IBU: {{beers.ibu}}</li>
  </ul>
  <div class="card-body">
    <div class="row mx-auto">
      <div class="col-md-4">
        <button class = "me-2" [routerLink]="['/beer', 'index', previousIndex, 'name', name]">Bière précédente</button>
      </div>
      <div class="col-md-4">
        <button class ="me-2" style="--c:#E95A49" [routerLink]="['/beer', 'index', nextIndex, 'name', name]">Bière suivante</button>
      </div>
      <div class="col-md-4">
        <a [routerLink]="'/beer/search'"><button  style="--c:#373a59" >Retour recherche</button></a>
      </div>
    </div>
  </div>
</div>

