<section
  id="beer-details-section"
  *ngIf="beers.name || beers.description || beers.tagline"
  aria-labelledby="beer-name"
>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 font-weight-bold">{{ beers.name }}</h1>

      <p class="lead">{{ beers.tagline }}</p>
      <p class="lead">Description :{{ beers.description }}</p>
      <p class="lead display-6">ABV: {{beers.abv}}</p>
      <p class="lead display-6">IBU: {{beers.ibu}}</p>

    </div>
  </div>
</section>

<div class="row mx-auto">      <div class="col-1"></div>


<div class="col">
  <button [routerLink]="['/beer', 'index', previousIndex, 'name', name]">Bière précédente</button>
</div>
  <div class="col">

  <button  style="--c:#E95A49" [routerLink]="['/beer', 'index', nextIndex, 'name', name]">Bière suivante</button>

  </div>
</div>
